<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.futurelight.mapper.ContactMapper">

    <select id="queryAll" resultType="ContactInfo">
        select * from contact_info
    </select>

    <select id="queryById" resultType="ContactInfo">
        select * from contact_info where id=#{id}
    </select>

    <delete id="delete"  >
        delete from contact_info where id  in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="update" >
        update contact_info set name=#{name},gender=#{gender},birthday=#{birthday},birthplace=#{birthplace},mobile=#{mobile},email=#{email}
    </update>

    <insert id="add" >
        insert into contact_info(name,gender,birthday,birthplace,mobile,email,del) values (#{name},#{gender},#{birthday},#{birthplace},#{mobile},#{email},0)
    </insert>

</mapper>